$text-color: #131516
$max-width: 800px
$header-time: 0.5s
*
	box-sizing: border-box
body
	color: $text-color
	min-height: 200vh
	font-family: "Roboto", sans-serif
	font-weight: 300
	font-size: 1.4rem
	margin: 0
h1, h2, h3, h4, h5, h6
	font-family: 'Abril Fatface', cursive
	font-weight: 300
	
.br
	width: 100%
	border-bottom: 1px solid #5a5a5a
	float: right
header
	padding: 8px
	position: fixed
	width: 100%
	height: 68px
	top: 0
	background: white
	.container
		display: flex
		align-items: center
		justify-content: space-between
	a
		color: $text-color
		text-decoration: none
	a:hover
		color: black
	h1
		font-size: 3.2rem
		margin: 0
		line-height: 90%
	h2
		font-size: 2rem
		margin: 0
.headroom--not-top
	box-shadow: 0px 0px 12px rgba(20,20,20,.5)
.headroom--unpinned
	animation: $header-time ease forwards slideout
.headroom--pinned
	animation: $header-time ease forwards slidein
.container
	max-width: $max-width
	margin: 0 auto
#main
	margin-top: 68px
	padding: 8px
.about
	min-height: 40vh
	margin-bottom: 31px
	img
		shape-outside: url(media/hendrik.png)
		shape-margin: 5px
		shape-image-threshold: 0.5
		float: right
		height: 40vh
		min-height: 280px
.kontakt
	margin-top: 31px
	td:first-child:after
		content: ":"
@keyframes slideout
	from
		transform: translateY(0px)
	to
		transform: translateY(-75px)
@keyframes slidein
	from
		transform: translateY(-75px)
	to
		transform: translateY(0px)
@keyframes grow
	from
		transform: scale(100%)
	to
		transform: scale(110%)